#logoHat{
    position: absolute;
    left: 20%;
    right: 70%;
    top: 0,5%;
    bottom: 81.41%;
    width: 150px;
}
#parchment{
    background:url(‘images/parchment.svg’);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 1100px;
}
.welcome{
    position: absolute;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;
    color: #000000;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 11%;
    width: 1100px;
}
#bottonStart{
    position: absolute;
    font-family: cursive;
    color:#FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;
    background-color: #585858;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 30%;
    width: 200px;
}
#logoTitle{
    position: absolute;
    left: 35%;
    right: 15%;
    top: 5%;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 45px;
    color: #000000;   
}
#rightImage{
    position: absolute;
    left: 5%;
    right: 84%;
    top: 55%;
    width: 150px;
}
#leftImage{
    position: absolute;
    left: 84%;
    right:5%;
    top: 55%;
    width: 150px;
}
#form{
    position: absolute;
    line-height: 45px;
    color: #585858;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 11%;
    width: 1100px;
}
#messagedata{
    position: absolute;
    line-height: 45px;
    color: #000000;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 11%;
    width: 1100px;
}
#message{
    background-color: transparent;
    border: 2px solid #585858;
    width: 65%; 
    height: 150px;
    overflow: auto;
  
}
#offSet{
    background-color: transparent;
    border: 2px solid #585858;
    width:100px;
}